body {
	background-color: #f8f8f8;
}
input{
	width: 200px;
	height:30px;
	text-transform: capitalize;
}
button{
	height: 42px;
	border: none;
	background: #3a7999;
	color: #f2f2f2;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
}
button:hover {
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 0 0 0 3px #3a7999;
}
button:active{
	color: green;
}
.menu li a:hover {
    color: #1896FF;
}
.menu li {
	position: relative;
	left: 505px;
	bottom: 75px;
	display: inline;
	font-style: italic;
	font-size: 20px;
	list-style-type: none;
}
.text{
	color: black;
	font-size: 18px;
	font-weight: 400;
	background-color: #eaeaea;
}
.text2{
	color: #707070;
	font-size: 20px;
	font-style: italic;
	line-height: 16px;
}
.text3{
	color: #484343;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	background: #fc3;
}
.text4{
	text-align: right;
}
.line{
	color: green;
	background-color: green;
	height: 4px;
}
.lists{
	color: #800000;
	font-family: Verdana;
	list-style-type: lower-greek;
}
.field{
	background-color: yellow;
	color: blue; 
}
.brd{
	border-color: blue;
	border-style: dashed;
}
.brd:hover{
	border-color: transparent;
}
.align{
	text-align: left;
}
.align2{
	text-align: center;
}
.logo{
	position: relative;
	top: 10px;
	width: 60px;
	height: 60px; 
}
.header{
	background: url("/project/pict/toothbrashing.jpg") no repeat center center;
	border: dotted 2px black;
	height: 100px;
}
.footer{
	background-color: #F0E68C;
	height: 45px;
	border: dotted 2px blue;
}
.first:first-letter{
	font-family: "Times New Roman", Times, serif;
    font-size: 200%; 
    color: red;
}
.container{
	width: 800px;
	margin: 0 auto;
}
.leftimg{
	float: left;
	margin: 10px;
}
table{
	font-family: sans-serif;
	text-align: left;
	border-collapse: separate;
	border-spacing: 5px;
	background: #ece9e0;
	color: #656665; 
	border: 16px solid #ece9e0;
	border-radius: 20px;
}
th{
	font-size: 18px;
	padding: 10px;
}
td{
	background: #f5d7bf;
	padding: 10px;
